<html>
	<head>
		<title id="SHOPPING_LIST">SHOPPING LIST</title>
		<link rel="stylesheet" href="../css/style.css">
	</head>
	<body>
		<div id="class-container">
			<h1>TRIPLELINGO</h1>
			<h2>Test Yourself</h2>

			<% if (answer =="wrong") { %>
				<div id="wrong">
					Unfortunately, "<strong><%= precedentWord%></strong>" is "<strong><%= precedentTranslation%></strong>".
				</div>
			<% } else if (answer == "correct") { %>
				<div id="correct">
					Your answer is correct ! 
				</div>
			<% } %>

			How do you say <strong><%= randomWord%></strong> ?	
			<form action="/submit" method="post">
				<label for="answer">Your answer : </label>
				<input type="text" id="answer" name="answer" required>
				<button type="submit" id="submit">SUBMIT</button>
			</form>

			<form action="/addWord" method="get">
				<button type="submit" id="addWord">ADD WORD</button>
			</form>
		</div>
	</body>
</html>
